/* html */
body {
  background-image: url("images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

b {
  font-weight: 600;
}

/* First container */
.firstContainer {
  text-align: left;
  padding-top: 21%;
  padding-left: 15%;
}

.main-head {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
}

/* second container */
.secondContainer {
  padding-top:7%;
  padding-right: 8%;
  padding-bottom: 5%
}

.try-it{
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  padding: .7em;
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
  box-shadow: 1px 6px #d96667;
}

/* form */
.form-section {
  background-color: #fff;
  padding: 1rem;
  margin-top: 20px;
  border-radius: 2%;
  box-shadow: 1px 6px #d96667;
}

.form-control{
  padding: 2%;
}

.errorMessage{
  text-align: right;
  font-size: 0.8em;
}

.Submit-btn {
  background-color: hsl(154, 59%, 51%);
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px #75b79e;
  color: #fff;
}

.bottom {
  color: hsl(246, 25%, 77%);
  text-align: center;
}
.onSubmitWrong{
  border: 2px solid hsl(0, 100%, 74%);
  border-radius: 4px;
}

.terms-condition {
  color: hsl(0, 100%, 74%);
}

/* footer */
.attribution {
  padding: 1% 5%;
  text-align: center;
}

/* Mobile Phone */

@media (max-width: 990px) {
  body {
    background-image: url("images/bg-intro-mobile.png");
  }

  .main-head {
    font-size: 3rem;
    margin-bottom: 25px;
    padding: 2% 8%;
  }

  .firstContainer {
    text-align: center;
    padding-top: 15%;
    padding-left: 0%;
  }
  .first-name{
    margin-top: 15px;
  }

  .small-head {
    text-align: center;
    padding: 1% 8%;
    font-size: 1.2rem;
  }

  .secondContainer{
    padding: 3% 6% 6%;
  }

  .form-section {
    padding: 2% 6%;
  }
}
